@use '../../colors.scss';
.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid colors.$color-white;
    height: 30vh;
    gap: 1rem;
    border-radius: 14px;

    h3 {
        font-weight: bold;
        font-size: 1.7rem;
    }

    p {
        font-weight: 400;
        font-size: 1.3rem;
        text-align: center;
        width: 80%;
    }

}