@use "../../colors.scss";
.containerVoluntario {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  background-color: colors.$color-light;
  color: colors.$color-black;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  p {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .containerCards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

@media screen and (max-width: 1030px) {
  .containerVoluntario {
    height: 130vh;
    .containerCards {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 500px) {
  .containerVoluntario {
    h1 {
      font-size: 2.3rem;
    }

    p {
      font-size: 1.4rem;
      text-align: center;
    }
  }
}
