@use "../../colors.scss";

//estilização  sessão  principal
.containerVoluntario {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  background-color: colors.$color-light;
  color: colors.$color-black;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  p {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .containerCards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

//estilização  sessão  formulário

.containerForm {
   background-color: colors.$color-green;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: center;
   form {
    background-color: colors.$color-white;
    width: 80%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

    h2 {
      font-weight: bold;
      font-size: 1.5rem;
    }

    h4 {
      font-weight: bold;
      font-size: 1.2rem;
    }

    input {
      height: 50px;
    }

    input, textarea {
      border-radius: 10px;
      background-color: colors.$color-light;
      border: 1px solid colors.$color-black;
    }

    .groupInput{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .boxFlexivel {
      display: flex;
      gap: 1rem;
    }
   }
}

@media screen and (max-width: 1030px) {
  .containerVoluntario {
    height: 130vh;   
    .containerCards {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 500px) {
  .containerVoluntario {
    h1 {
      font-size: 2.3rem;
    }

    p {
      font-size: 1.4rem;
      text-align: center;
    }
  }
}
