@use "../../colors.scss";
.containerVoluntario {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  background-color: colors.$color-light;
  color: colors.$color-black;
  border: 1px solid red;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  p {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .containerCards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}
