@use "./../../colors.scss";

.container {
  height: 80vh;
  display: flex;
  padding: 0 4rem;
}

.boxInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: colors.$color-black;

  img {
    width: 200px;
  }

  h1 {
    font-weight: bold;
    font-size: 3rem;
    width: 70%;
  }

  p {
    font-weight: 400;
    font-size: 1.6rem;
    width: 70%;
  }
}

.boxButtons {
  display: flex;
  gap: 1rem;

  button {
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .btnVoluntario {
    background-color: colors.$color-green;
    color: colors.$color-white;

    &:hover {
      background-color: colors.$green-hover;
    }
  }

  .btnAjuda {
    border: 1.4px solid colors.$color-green;
    background-color: transparent;
    color: colors.$color-green;

    &:hover {
      background-color: colors.$color-light;
    }
  }
}

.boxImage {
  img {
    height: 90%;
    padding-top: 1rem;
  }
}

.missao {
  border: 1px solid purple;
  height: 70vh;
  background-color: colors.$color-green;
  color: colors.$color-white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .boxCardsMissao {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    height: 90vh;
  }
  .boxInfo {
    h1,
    p {
      width: 80%;
    }
  }
  .boxImage {
    img {
      height: 85%;
      width: 500px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    height: 80vh;
  }
  .boxInfo {
    align-items: center;
    h1,
    p {
      width: 100%;
      text-align: center;
    }

    img {
      width: 250px;
    }
  }
  .boxImage {
    img {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 2rem;
  }

  .boxInfo {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .boxButtons {
    flex-direction: column;
    width: 100%;
  }
}
