@use "./../../colors.scss";

//estilização  sessão principal
.container {
  height: 80vh;
  display: flex;
  padding: 0 4rem;
}

.boxInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: colors.$color-black;

  img {
    width: 200px;
  }

  h1 {
    font-weight: bold;
    font-size: 3rem;
    width: 70%;
  }

  p {
    font-weight: 400;
    font-size: 1.6rem;
    width: 70%;
  }
}

.boxButtons {
  display: flex;
  gap: 1rem;

  button {
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .btnVoluntario {
    background-color: colors.$color-green;
    color: colors.$color-white;

    &:hover {
      background-color: colors.$green-hover;
    }
  }

  .btnAjuda {
    border: 1.4px solid colors.$color-green;
    background-color: transparent;
    color: colors.$color-green;

    &:hover {
      background-color: colors.$color-light;
    }
  }
}

.boxImage {
  img {
    height: 90%;
    padding-top: 1rem;
  }
}

// estilização  sessão nossa missão
.missao {
  height: 70vh;
  background-color: colors.$color-green;
  color: colors.$color-white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-weight: bold;
    font-size: 2.4rem;
  }

  p {
    font-weight: 400;
    font-size: 1.5rem;
  }

  .boxCardsMissao {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}

//sessão estatisticas
.estatisticas {
  background-color: colors.$color-white;
  color: colors.$color-black;
  padding: 4rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h2 {
    font-weight: bold;
    font-size: 2.4rem;
  }

  p {
    font-weight: 400;
    font-size: 1.5rem;
  }

  .boxCardsEstatisticas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    height: 90vh;
  }
  .boxInfo {
    h1,
    p {
      width: 80%;
    }
  }
  .boxImage {
    img {
      height: 85%;
      width: 500px;
    }
  }
}

//quebra  específica  para  container  dos  cards  de  estatísticas
@media screen and (max-width: 1176px) {
  .estatisticas {
    height: 100vh;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    height: 80vh;
  }
  .boxInfo {
    align-items: center;
    h1,
    p {
      width: 100%;
      text-align: center;
    }

    img {
      width: 250px;
    }
  }
  .boxImage {
    img {
      display: none;
    }
  }

  .missao {
    height: 150vh;
    align-items: center;
    gap: 3rem;

    p {
      text-align: center;
    }
    .boxCardsMissao {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }

  .estatisticas {
    height: 120vh;
    align-items: center;
    p {
      text-align: center;
    }
  }
}

@media screen and (max-width: 604px) {
  .estatisticas {
    height: 180vh;
  }
}

@media screen and (max-width: 900px) {
  .estatisticas {
    .boxCardsEstatisticas {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 2rem;
    height: 90vh;
  }

  .boxInfo {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .boxButtons {
    flex-direction: column;
    width: 100%;
  }

  .missao {
    padding: 4rem 2rem;
    height: 150vh;

    h2 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1.3rem;
    }
  }

  .estatisticas {
    padding: 4rem 2rem;
    h2 {
      font-size: 2.2rem;
    }
  }
}
