@use '../../colors.scss';
.article {
    display: flex;
    flex-direction: column;
    border: 1px solid colors.$color-dark;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 20%;
    gap: 1rem;

    h3 {
        font-weight: bold;
        font-size: 2rem;
        color: colors.$color-green;
    }

    p {
        font-weight: 500;
        font-size: 1.3rem;
        text-align: center;        
        width: 90%;
    }
}