@use "../../colors.scss";

.article {
  border: 1px solid colors.$color-black;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 14px;
  h3 {
    font-size: 1.8rem;
  }

  .description {
    text-align: center;
    font-size: 1.4rem;
  }
}

@media  screen and (max-width:500px){
    .article {
        h3 {
            font-size: 1.5rem;
        }

        .description {
            font-size: 1.2rem;
        }
    }
}
